@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cards-wrapper {
  grid-column: center-start / -1;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow: auto;
  padding-bottom: 1rem;
}

.cards-wrapper-ahead {
  /* max-height: 200px;
  padding-bottom: 1rem; */
  max-height: 500px;
  overflow-y: auto;
}

.card {
  padding: 25px 15px 25px 40px;
  border-radius: 20px;
  display: grid;
  place-content: center;
  /* background-color: #d0f0ee; */
  color: black;
  width: 23.5rem
}

.card1 {
  background-color: rgb(255, 230, 171)
}

.card-white {
  background-color: #fff;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 80%;
}

.card-pink {
  position: relative;
  top: -13px;
  background-color: rgb(255, 224, 239);
  width: 80%;
}

.card2 {
  background-color: rgb(255, 179, 218)
}

.card-ahead {
  background-color: rgb(255, 255, 255);
  margin: 20px 0px;
  float: right;
  margin-right: 60px;
  text-align: left;
}

.card3 {
  background-color: rgb(138, 142, 255)
}

.card4 {
  background-color: rgb(247, 255, 86)
}

.card5 {
  background-color: rgb(144, 255, 249)
}

.card h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.card .emoji {
  font-size: 2.2rem;
}

.cards-wrapper1 {
  line-height: 1.7;
}

.center-vertical {
  display: grid;
  grid-template-rows: minmax(70vh, 1fr);
  width: 70%;
  align-items: center;
  justify-content: center;
}

.center-vertical-img {
  display: grid;
  grid-template-rows: minmax(70vh, 1fr);
  width: 100%;
  align-items: center;
  justify-content: center;
}

.center-vertical p {
  font-size: 24px;
}

.center-horizontal {
  display: grid;
  place-items: center;
  text-align: center;
  max-width: 720px;
}

.startATest,
.footer {
  /* display: flex;
  justify-content: center; */
  margin: 50px 0px;
  display: grid;
  place-items: center;
}

.startATest .btn {
  text-align: center;
  width: 200px;
}

.openVacancy {
  margin-bottom: 50px;
}

.openVacancy .card {
  padding: 25px 15px 25px 40px;
  border-radius: 20px;
  display: grid;
  place-content: center;
  /* background-color: #d0f0ee; */
  color: black;
  width: 26.5rem
}

.openVacancy .card1 {
  background-color: rgb(255, 230, 171)
}

.openVacancy .card2 {
  background-color: rgb(255, 230, 171)
}

.openVacancy .card3 {
  background-color: rgb(255, 230, 171)
}

.openVacancy .card h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

.grey-text {
  color: rgb(84, 84, 84);
}

.footer-logo {
  margin-top: 20px;
}

.footer-logo-app {
  margin: 20px 0px;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.timelines h2 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 32px;
}

.d-flex-2 {
  display: flex;
  align-items: center;
}

.timeline-container {
  /* float: right; */
  margin: 50px 0px;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  max-height: 500px;
}

.timeline-container::-webkit-scrollbar {
  display: none;
}

.cards-wrapper::-webkit-scrollbar {
  display: none;
}

.timeline {
  max-width: 720px;
  color: #000;
  padding: 30px 20px;
}

.timeline ul {
  list-style-type: none;
  border-left: 2px solid #094a68;
  padding: 10px 5px;
}

.timeline ul li {
  padding: 20px 20px;
  position: relative;
  cursor: pointer;
  transition: .5s;
}

.timeline ul li span {
  display: inline-block;
  border-radius: 25px;
  padding: 2px 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.timeline ul li .content h3 {
  color: #34ace0;
  font-size: 17px;
  padding-top: 5px;
}

.timeline ul li .content p {
  padding: 5px 0px 15px 0px;
  font-size: 17px;
  font-weight: 400;
}

.timeline ul li:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: #34ace0;
  border-radius: 50%;
  left: -11px;
  top: 28px;
  transition: .5s;
}


@media (max-width:300px) {
  .timeline {
    width: 100%;
    padding: 30px 5px 30px 10px;
  }

  .timeline ul li .content h3 {
    color: #3448e0;
    font-size: 15px;
  }

}

.wondered {
  text-align: center;
}

.workWithUs .grey-text {
  margin-top: 10px;
  font-size: 18px
}

.workWithUsRight {
  /* align-items: right;
  float: right; */
  text-align: right;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
}

.ahead-blue {
  color: #3448e0;
}

.workWithUsRight .grey-text {
  font-size: 16px;
}

.workWithUsRight h3 {
  font-size: 18px;
}